<div class="top-wrap">
  <h1>全ての人にテクノロジーという武器を</h1>

  <p>Dive into code</p>

  <%= link_to 'DIVE NOW', company_show_path, class: 'btn' %>
  <%= link_to 'INQUIRY', inquiry_index_path, class: 'btn' %>
</div>
