<div class="top-wrap">
  <div class="jumbotron">
    <h1>achieve</h1>
    <p>「経験ゼロからWebエンジニアになる！」</p>
    <p>achieveは、目標達成を支援するWebアプリケーションです。</p>
    <%= link_to "今すぐ始める", root_path, { class: 'btn btn-primary btn-lg' } %>
  </div>

  <div class="box4">
    <div class="box4-1">
      <div class="merit">
        <a href="#">
          <i class="fa fa-heart"></i>
          <h1>経験ゼロの初心者向け</h1>
          <p>全10回講座の課題解決型プログラム。経験ゼロからWebエンジニアになっていただきます。</p>
      </a>
    </div>
    </div>
    <div class="box4-2">
      <div class="merit">
        <a href="#">
          <i class="fa fa-television"></i>
          <h1>オンラインサポート付き</h1>
          <p>専用のfacebookグループ内やNitrousのコラボレーション機能を経由して随時オンラインサポート</p>
        </a>
      </div>
    </div>
    <div class="box4-3">
      <div class="merit">
        <a href="#">
          <i class="fa fa-connectdevelop"></i>
          <h1>チームで実践「受託開発」</h1>
          <p>ひとりではなく開発チームを結成し、実ビジネスの受託開発を経験して卒業していただきます。</p>
        </a>
      </div>
    </div>
  </div>

  <% link_to 'DIVE NOW', company_show_path, class: 'btn' %>
</div>
