<div><span class="h-fwb">名前:</span> <%= @inquiry.name %></div><div><span class="h-fwb">メールアドレス:</span> <%= @inquiry.email %></div><div><span class="h-fwb">内容:</span> </div><div><%= simple_format(h(@inquiry.message)) %></div>
