あなたの投稿した質問に回答がありました。

<div>
  <div><b>回答者の名前:</b> <%= @inquiry.name %></div>
  <div><b>回答内容:</b></div>
  --------------------------
  <%= simple_format(h(@inquiry.message)) %>
  --------------------------
</div>
