<div class="blogs-wrap">
  <h2 class="page-header">投稿編集</h2>

  <div class="edit-content">
    <%= render 'form' %>

    <%= link_to '投稿詳細', @blog %> |
    <%= link_to '一覧に戻る', blogs_path %>
  </div>
</div>
