/**
 * Members.scss
 * Project - Members関連ページ
 **/

.members-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px 10px 30px;
  .members-content {
    padding: 0 10px;
  }
  .user-item {
    padding: 5px 10px;
    .user-img {
      width : 70px;
    }
    .user-name { font-size: 18px; }
    .btn {
      width: 236px;
    }
  }
}
