<ul>
  <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li>
          <%= comment.user %>
          <%= comment.content %>
          <%= link_to 'Edit', edit_blog_comment_path(@blog.id, comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
  <% end %>
</ul>
