<ul>
  <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li>
          <%= comment.user %>
          <%= comment.content %>
          <%= link_to 'Edit', edit_blog_comment_path(@blog.id, comment) %>
          <%= link_to 'Destroy', blog_comment_path(@blog.id, comment), method: :delete, remote: true, data: { confirm: '本当にコメントを削除しますか？' } %>
        </li>
      <% end %>
  <% end %>
</ul>
