<ul>
  <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li class="comment-item">
          <div class="h-mb5">
            <span class="h-fwb">回答者:</span> <%= comment.user.name %>
          </div>
          <div class="well well-sm h-mb5 simple-text-l">
            <%= simple_format(h(comment.content)) %>
          </div>
          <%= link_to '編集', edit_blog_comment_path(@blog.id, comment) %>
          <%= link_to '削除', blog_comment_path(@blog.id, comment), method: :delete, remote: true, data: {
              confirm: '本当にコメントを削除しますか？',
              commit: '削除',
              cancel: 'やめる'
          }, title: 'コメント削除確認' %>
        </li>
      <% end %>
  <% end %>
</ul>
