<div class="blogs-wrap">
  <h2 class="page-header">コメント編集</h2>

  <div class="h-mb15">
    <%= render partial: 'comments/form', locals: { comment: @comment, local: 'edit' } %>
  </div>

  <div class="h-mb15">
    <%= link_to '投稿詳細に戻る', @comment.blog, class: 'btn btn-default' %>
  </div>
  <a href="/blogs" class="btn btn-default">投稿一覧に戻る</a>
</div>
