<h1>Editing Comment</h1>

<%= render partial: 'comments/form', locals: { comment: @comment } %>

<%= link_to 'Show', blog_comment_path(@comment.blog_id, @comment) %> |
<%= link_to 'Back', blog_path(@comment.blog_id) %>
