<div class="tasks-wrap">
  <h2 class="page-header">タスク登録</h2>

  <div class="h-mb15">
    <%= render 'form' %>
  </div>

  <div class="h-mb15">
    <%= link_to 'タスク詳細', user_task_path(@task.user, @task), class: 'btn btn-default' %>
  </div>

  <%= link_to 'マイタスク一覧に戻る', user_tasks_path(@task.user_id), class: 'btn btn-default' %>
</div>

