<% if current_user.id == @user.id %>
  var alert_elm = '<div class="js_alert alert alert-danger animated fadeIn" role="alert">' +
          '不正な操作が行われました' +
          '</div>',
      alert_target = $('#js_alert_target');

  $('html, body').animate({ scrollTop: 0 }, 'fast');
  alert_target.html(alert_elm);
  alert_target.fadeIn();

  util = new Util;
  util.elmVanising(alert_target, 1500);
<% else %>
  render_str = "<%= escape_javascript(render partial: 'users/unfollow', locals: { user: @user }) %>";

  $('#follow_from_' + "<%= @user.id %>").html(render_str);
<% end %>
