<%
  if params['action'] == 'edit'
    label_str  = '顧客名'
    submit_str = '顧客情報を変更する'
  else
    label_str  = '顧客の新規登録'
    submit_str = '顧客を登録する'
  end
%>

<%= form_for(@customer) do |f| %>
    <div class="form-group">
      <%= f.label :name, label_str %>
      <%= f.text_field :name, class: 'form-control' ,placeholder: '顧客名を入力してください' %>
    </div>

    <div class="form-group">
      <%= f.submit submit_str, class: 'btn btn-primary' %>
    </div>
<% end %>
