<ul class="notifications-list">
  <% if notifications.present? %>
    <% notifications.each do |noti| %>
      <% unless noti.read %>
        <li class="notification-item">
          <span class="label label-pill label-warning">未読</span>
          <small class="dropdown">
            ブログ「<%= link_to noti.comment.blog.title, blog_path(noti.comment.blog) %>」に<%= link_to noti.sender_user.name, user_path(noti.sender_user) %>さんがコメントしました。
          </small>
          <div class="palette-paragraph h-tar">
            <small class="dropdown">
              <i class="fa fa-clock-o"></i>
              <%= noti.posted_time %>
            </small>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
