<script type="text/javascript" charset="utf-8">
  var replace_dom = "<div class='text-danger h-tac'>新着情報はありません</div>";

  $('title').html('Dive into Code');
  $('#js_notice_count').removeClass('text-primary');
  $('#js_unread_count').html('0');
  $('#js_notifications_list').html(replace_dom);

  var count = 0;
  function counter() {
    return ++count;
  }

  function more() {
    $.ajax({
      url: "<%= user_notifications_more_path(current_user.id) %>",
      type: 'GET',
      data: 'count=' + counter()
    });

    return false;
  }
</script>

<div class="notifications-wrap">
  <h2 class="page-header">お知らせ一覧</h2>

  <div class="h-mb15 h-ml10">
    全<%= @notifications_all_count %>件
  </div>

  <div id="js_notifications_index" class="notifications-content">
    <% if @notifications.count > 0 %>
      <%= render partial: 'notifications/index', locals: { notifications: @notifications } %>
    <% else %>
      <div class="text-danger">
        お知らせが見つかりませんでした
      </div>
    <% end %>
  </div>

  <% if @notifications.count > 4 %>
    <div class="h-tac">
      <button id="js_more_btn" class="btn btn-primary" onclick="more()">
        もっと見る
      </button>
    </div>
  <% end %>
</div>
