<div class="users-wrap">
  <h2 class="page-header">ユーザー一覧</h2>

  <div class="users-content">
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail h-dt">
            <div class="profile-img h-dtc h-vam">
              <%= profile_img(user, { class: 'img-thumbnail' }) %>
            </div>
            <div class="caption h-dtc h-vam h-pl15">
              <h3>
                <%= link_to user.name, user_path(user.id) %>
              </h3>
              <% if user.profile %>
                <div class="simple-text-l h-mb15"><%= simple_format(h(user.profile)) %></div>
              <% end %>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
