<%= form_for(goodjob, url: taskline_task_goodjob_path(task_id: goodjob.task_id), remote: true) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :task_id %>
  </div>
  <%= f.submit 'Goodjob!!' %>
<% end %>
