<div class="submit-requests-wrap">
  <h2 class="page-header">依頼一覧</h2>

  <div class="h-mb15">
    <%= link_to '新規依頼', new_user_submit_request_path %>
  </div>
  <div class="h-mb15">
    <%= link_to '依頼されている一覧', inbox_user_submit_requests_path %>
  </div>

  <div id="js_submit_requests_<%= current_user.id %>">
    <%= render partial: 'submit_requests_list', locals: { submit_requests: @submit_requests } %>
  </div>
</div>
