<div id="js_alert_target"></div>

<div class="submit-requests-wrap">
  <h2 class="page-header">依頼一覧</h2>

  <div class="h-mb15">
    <%= link_to '新規依頼', new_user_submit_request_path, class: 'btn btn-default' %>
  </div>
  <div class="h-mb15">
    <%= link_to '受けている依頼一覧', inbox_user_submit_requests_path, class: 'btn btn-default' %>
  </div>

  <div id="js_submit_requests_<%= current_user.id %>">
    <%= render partial: 'submit_requests_list', locals: { submit_requests: @submit_requests } %>
  </div>
</div>
