<div class="submit-requests-wrap">
  <h2 class="page-header">新規依頼</h2>

  <div>
    <h4>依頼するタスク</h4>
    <div class="h-mb15">
      <% if @tasks.present? %>
        <%= render 'form' %>
      <% else %>
          <div class="text-danger">
            依頼できるタスクがありません
          </div>
      <% end %>
    </div>
  </div>

  <%= link_to '依頼タスク一覧に戻る', user_submit_requests_path(@submit_request.user_id), class: 'btn btn-default' %>
</div>
