<div class="tasks-wrap">
  <h2 class="page-header">タスク編集</h2>

  <div class="h-mb15">
    <%= render 'form' %>
  </div>

  <%= link_to 'プロジェクトに戻る', project_path(@project), class: 'btn btn-default' %>
</div>
