<div class="projects-wrap">
  <h2 class="page-header">プロジェクト作成</h2>

  <div class="h-mb15">
    <%= render 'form' %>
  </div>

  <%= link_to 'プロジェクト一覧に戻る', projects_path, class: 'btn btn-default' %>
</div>
