<div class="inquiry-wrap">
  <h2 class="page-header">お問い合わせ情報更新</h2>

  <div class="inquiry-content">
    <div class="text-primary h-fwb h-mb15">更新完了しました</div>
  </div>

  <%= link_to "問い合わせ一覧", inquiry_list_path, class: 'btn btn-default' %>
</div>
