<div class="inquiry-wrap">
  <h2 class="page-header">お問い合わせ結果</h2>

  <div class="h-tal h-mb20 h-fwb">お問い合わせいただきありがとうございました。</div>

  <%= link_to 'TOPに戻る', root_path, class: 'btn btn-default' %>
</div>
