/**
 * ブログ関連
 **/

.blogs-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  .index-content {
    padding: 0 10px 10px;
    .panel-body {
      width: 100%;
    }
    .profile-img {
      width: 100px;
    }
    .post-text .text {
      font-size: 16px;
    }
  }
  .edit-content,
  .new-content {
    padding: 10px;
  }
  .show-content {
    padding: 10px;
    font-size: 20px;
  }
  .fm-comment {
    width: 520px;
  }
  .comment-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
}
