/**
 * ブログ関連
 **/

.blogs-wrap {
  padding: 10px;
  .index-content {
    padding: 0 10px 10px;
    .panel-body {
      width: 100%;
    }
    .profile-img {
      width: 100px;
    }
    .post-text .text {
      font-size: 16px;
    }
  }
  .edit-content,
  .new-content {
    padding: 10px;
  }
  .show-content {
    padding: 0 10px 10px;
    font-size: 20px;
  }
}
