/**
 * ブログ関連
 **/

.blogs-wrap {
  padding: 10px;
  .index-content {
    padding: 0 10px 10px;
  }
  .edit-content,
  .new-content {
    padding: 10px;
  }
  .show-content {
    padding: 0 10px 10px;
    font-size: 20px;
  }
}
