/**
 * 共用スタイル
**/

body {
  // background-image: image-url('back.jpg?cache=hoge');
  margin: 0;
  font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}

h1 {
  color: white;
  margin: 250px auto auto auto;
  text-align: center;
  font-size: 40px;
}

p {
  margin: 0;
  text-align: center;
}

.btn {
  background: white;
  border: 1px solid #DDD;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: auto auto 15px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 20px;
}

/* サイト名 */
.site h1 a {
  color: #FFFFFF;
  text-decoration: none
}
.site h1 {
  margin: 0;
  font-size: 30px
}

/* ナビゲーション */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.menu li a {
  display: block;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none
}
.menu li a:hover {
  background-color: #eeeeee
}
.menu ul:after {
  content: "";
  display: block;
  clear: both
}
.menu li {
  float: left;
  width: auto
}

.copyright p {
  margin: 0;
  text-align:center;
  color: #666666;
  font-size: 14px
}

