/**
 * ログイン機能関連
 **/

.devise-wrap {
  padding: 10px;
  .fm-signup,
  .fm-login,
  .fm-edit,
  .fm-forget,
  .fm-resend { padding: 10px; }

  .fm-signup,
  .fm-login {
    input[type=checkbox] {
      bottom: -6px;
    }
    .fa-facebook { border-color: $color-facebook; }
    .fa-twitter  { border-color: $color-twitter; }
  }
  .fm-edit {
    .img-thumbnail {
      width: 150px;
    }
  }
}

// deviseが吐き出すエラーのトップレベル要素
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  h2 {
    margin-top: 10px;
    font-size: 17px;
  }
}
