// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiry-wrap {
  color: #555555;
  h1 {
    color: #777777;
    margin-bottom: 20px;
  }
  p {
    color: #555555;
    font-size: 20px;
    margin-bottom: 35px;
  }
  .table {
      padding-bottom: 15px;
      margin: 0 auto;
      text-align: left;
      td { padding-left: 10px; }
  }
  .alert {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: #FF0000;
    .error-list { text-align: left; }
  }
  input[type=text],
  textarea {
    min-width: 220px;
    min-height: 20px;
    border-radius: 5px;
  }
  .btn {
    font-size: 15px;
  }
}
