/**
 * Mobile.scss
 * スマホ、タブレット端末固有の定義
**/

// bootstrapでの閾値を採用（iPad miniが768）
@media screen and (max-width: 767px) {
  .top-wrap {
    .box4 {
      display: block;
      text-align: center;
    }
    .box4-1,
    .box4-2 {
      margin-bottom: 15px;
    }
    .box4-1,
    .box4-2,
    .box4-3 {
      width: 100%;
      padding-right: 0;
      display: inline-block;
    }
  }
}
