/**
 * Notifications.scss
 * Notification関連ページ
 **/

.notifications-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px 10px 30px;
  .notifications-content {
    padding: 0 10px;
  }
  .messages-content {
    padding: 0 10px;
  }
  .messages-list {
    .message-item {

    }
  }
}

.notifications-navbar {
  .notifications-list {
    padding: 0 10px;
    width: 453px;
    .notification-item {

    }
  }
}