/**
 * Users.scss
 * Users関連ページ（ログイン周りはdevise.scss）
 **/

.users-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  .users-content {
    min-height: 108px;
    h3 { margin-top: 10px; }
  }
  .thumbnail {
    width: 100%;
  }
  .profile-img {
    width: 100px;
  }
  .pagination { margin: 0; }
}
