<% if notice %>
    <div class="js_alert alert alert-info" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="js_alert alert alert-danger" role="alert"><%= alert %></div>
<% end %>
