<div class="members-wrap">
  <h2 class="page-header">プロジェクトメンバー管理</h2>
  <div class="h-mb15">
    <%= link_to 'プロジェクト詳細に戻る', project_path(@project), class: 'btn btn-default' %>
  </div>


  <div class="members-content">
    <ul class="list-group">
      <%= render 'members' %>
    </ul>
  </div>
</div>
