<% @notifications_count ||= 0 %>

<a href="javascript:return false;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <div id="js_notice_count" class="<%= 'text-primary' if @notifications_count > 0 %>">
    <i class="fa fa-bell fa-1x">
      <div id="messaging"></div>
    </i>
    <span id="js_unread_count"><%= @notifications_count %></span>
    <span class="caret"></span>
  </div>
</a>
<%# link_to user_notifications_path(current_user) %>

<ul id="js_notifications_list" class="notifications-navbar dropdown-menu">
  <%= render partial: 'notifications/list', locals: { notices: @notifications, notice_count: @notifications_count } %>
</ul>
